<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaiTapQLBH.Properties.Settings.QuanLyBanHangConnectionString"
            connectionString="Data Source=DELL-PC\SQLEXPRESS;Initial Catalog=database-2018-12-14--17-29-55;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>