<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaiTapQLBH.Properties.Settings.QuanLyBanHangConnectionString"
            connectionString="Data Source=ERP-HUYENVTT16\SQLEXPRESS;Initial Catalog=BAITAPLON;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>